table,th, td {
    border:1px solid black;
    text-align: center;
  }
body{
    font-size: 20px;
    display: flex;
    justify-content: center;
    
}
table{
width:50vw;
}

.container{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
animation: background-color-change 1.5s infinite linear;
}
.section1{
display: flex;
align-items: center;
}
.section1 div{
    padding-left: 60%;
}
.container{
    width: 60vw;
    border: 1px solid black;
}
.justify-content-around {
    justify-content: space-around!important;
}
.d-flex {
    display: flex!important;
    flex-direction: row;
    gap: 200px;
}
#contact{
    text-align: center!important;
    font-size: 25px;
}

img{
    border-radius: 50%;
    height: 125px;
    width: 125px;

  }
 img:hover{
    display: block;
    animation: rotation .1s infinite linear,
    pulse  5s infinite linear;

 }
  @keyframes rotation {
    100% {
        transform: rotate(360deg);
      }
  }
    
  @keyframes pulse {
    50% {
      transform: scale(5);
    }
  }

  @keyframes background-color-change {
    0% {
        background-color: rgba(12, 255, 4, 1);
    }
    20%{
        background-color: rgb(4, 255, 117);
    }
    40%{
        background-color: rgb(251, 255, 4);
    }
    60%{
        background-color: rgb(42, 4, 255);
    }
    80%{
        background-color: rgb(255, 4, 4);
    }
    100% {
        background-color: rgba(12, 255, 4, 1);
    }
}