table,th, td {
    border:1px solid black;
    text-align: center;
  }
body{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
table{
width:50vw;
}

.container{
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
align-items: center;

}
.section1{
display: flex;
align-items: center;
}
.section1 div{
    padding-left: 20%;
}
.container{
    width: 70vw;
    border: 1px solid black;
}
.justify-content-around {
    justify-content: space-around!important;
}
.d-flex {
    display: flex!important;
    flex-direction: row;
    gap: 200px;
}
#contact{
    text-align: center!important;
    font-size: 25px;
}

img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    animation: rotation .1s infinite linear,
    pulse  5s infinite linear;
  }
  
  @keyframes rotation {
    /* from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    } */
    100% {
        transform: rotate(360deg);
      }
  }
    
  @keyframes pulse {
    50% {
      transform: scale(5);
    }
  }